my-make-automation-projects/RSS_Telegram_Aggregator_MAKE_COM/RSS новости в Телеграм из -arm.sputniknews.ru- - -1lurer.am- - -News.am- -.blueprint.json
{
    "name": "RSS новости в Телеграм из |*arm.sputniknews.ru* | *1lurer.am* | *News.am* |",
    "flow": [
        {
            "id": 1,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://am.sputniknews.ru/export/rss2/archive/index.xml",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "announce",
                                "type": "text",
                                "label": "announce"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "enclosure",
                                "type": "text",
                                "label": "enclosure"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "source_name",
                        "value": "Sputnik"
                    },
                    {
                        "name": "source_url_feed",
                        "value": "https://am.sputniknews.ru/export/rss2/archive/index.xml"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "source_name",
                        "type": "any",
                        "label": "source_name"
                    },
                    {
                        "name": "source_url_feed",
                        "type": "any",
                        "label": "source_url_feed"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://news.am/rus/rss/",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "5",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -450
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9460647
                            },
                            "filter": {
                                "name": "Только News.am",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.title}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "chatId": "@Ser_newsam",
                                "text": "_Источник: News.am_\n\n💬 * {{3.title}}*\n[Читать далее]({{3.url}})\n_#НовостиАрмении #NewsAM #Ser_",
                                "messageThreadId": "",
                                "parseMode": "Markdown",
                                "disableWebPagePreview": false,
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter",
                                "replyMarkup": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -450
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "MyNewsBot_Connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "rss:ActionReadArticles",
                            "version": 4,
                            "parameters": {
                                "include": []
                            },
                            "mapper": {
                                "url": "https://www.1lurer.am/ru/rss",
                                "gzip": true,
                                "password": "",
                                "username": "",
                                "maxResults": "5",
                                "filterDateTo": "",
                                "filterDateFrom": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "include",
                                        "type": "select",
                                        "label": "Process RSS fields",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "google-merchant-center",
                                                "itunes"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "filterDateFrom",
                                        "type": "date",
                                        "label": "Date from"
                                    },
                                    {
                                        "name": "filterDateTo",
                                        "type": "date",
                                        "label": "Date to "
                                    },
                                    {
                                        "name": "maxResults",
                                        "type": "number",
                                        "label": "Maximum number of returned items",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "summary",
                                        "type": "text",
                                        "label": "Summary"
                                    },
                                    {
                                        "name": "author",
                                        "type": "text",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "dateUpdated",
                                        "type": "date",
                                        "label": "Date updated"
                                    },
                                    {
                                        "name": "dateCreated",
                                        "type": "date",
                                        "label": "Date created"
                                    },
                                    {
                                        "name": "comments",
                                        "type": "url",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "categories",
                                        "spec": {
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Categories"
                                    },
                                    {
                                        "name": "source",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Source"
                                    },
                                    {
                                        "name": "enclosures",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "length",
                                                "type": "number",
                                                "label": "Length"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Enclosures"
                                    },
                                    {
                                        "help": "Other RSS fields. All values are in text format.",
                                        "name": "rssFields",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "title"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "link"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "description"
                                            },
                                            {
                                                "name": "pubdate",
                                                "type": "text",
                                                "label": "pubdate"
                                            },
                                            {
                                                "name": "category",
                                                "type": "text",
                                                "label": "category"
                                            },
                                            {
                                                "name": "enclosure",
                                                "type": "text",
                                                "label": "enclosure"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "RSS fields"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9460647
                            },
                            "filter": {
                                "name": "Только 1lurer.am",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.title}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "chatId": "@Ser_newsam",
                                "text": "_Источник: 1lurer.am_\n\n💬 * {{6.title}}*\n[Читать далее]({{6.url}})\n\n_#НовостиАрмении #1lurerAM #Ser_",
                                "messageThreadId": "",
                                "parseMode": "Markdown",
                                "disableWebPagePreview": false,
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter",
                                "replyMarkup": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "MyNewsBot_Connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9460647
                            },
                            "filter": {
                                "name": "Только Sputnik",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.source_name}}",
                                            "b": "Sputnik",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "chatId": "@Ser_newsam",
                                "text": "_Источник: Sputnik Армения_\n\n💬 * {{1.title}}*\n\n** {{1.description}}**\n[Читать далее]({{1.url}})\n\n_#НовостиАрмении #SputnikAM #Ser_",
                                "messageThreadId": "",
                                "parseMode": "Markdown",
                                "disableWebPagePreview": false,
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter",
                                "replyMarkup": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 970,
                                    "y": 214
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "MyNewsBot_Connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "parseMode": {
                                            "label": "Markdown"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}